@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {

    .GrosseurTitreXL{
        @apply   text-3xl lg:text-4xl
    }

    .GrosseurTitre{
        @apply   text-2xl lg:text-3xl xl:text-4xl
    }

    .GrosseurSousTitre{
        @apply   text-xl lg:text-2xl xl:text-3xl
    }

    .GrosseurTexteNormal{
        @apply  text-lg lg:text-xl xl:text-2xl
    }

    .GrosseurTextePetit{
        @apply   text-sm md:text-base lg:text-lg  xl:text-xl
    }

    .BoutonMenu{
        @apply bg-stone-200 text-neutral-800 cursor-pointer rounded-xl px-4 py-2 m-3 mt-1  drop-shadow-sm shadow-inner shadow-neutral-500 transition hover:scale-105 hover:shadow-none
    }

    .BoutonMenuBurger{
        @apply BoutonMenu w-64 py-2 self-center m-auto
    }
}

::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background: #333333;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #262626;
    scale: 105%;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #222222;
  }
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  ::-webkit-scrollbar-track:hover {
    background: #ffffff;
  }
  ::-webkit-scrollbar-track:active {
    background: #ffffff;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }

html {
    @apply font-serif scroll-smooth
}
